<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Storefront - Inventory</title>
    <link rel="stylesheet" href="../assets/css/exstyles.css">
    <link rel="stylesheet" href="../assets/css/itempage.css">
    <script src="../assets/js/cart.js"></script>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/inventory.html">Inventory</a></li>
                <li><a href="../pages/inventoryused.html">Used Inventory
                </a></li>
                <li><a href="../pages/reviews.html">Reviews</a></li>
                <li><a href="../pages/demos.html">Demos</a></li>
                <li><a href="../pages/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section id="inventoryused">
        <h1 id="name">Epiphone Les Paul Custom</h1>
        <div class="grid">
           
            <div class="itemcard">
                <img src="../assets/images/lespaulblue.png" alt="LP1">
                <br>
                <figcaption>Hover to enlarge image<figcaption>
            </div>
            <div class="desc">
                <p>A solidbody electric guitar with a maple top, mahogany body and neck, ebony Fingerboard, and dual humbucking pickups. Displays a beautiful finish of Viper Blue.</p>
               <br>
               <br>
                <h2 id="price">$694.99</h2>
                <input type="button" value="Add to Cart" onclick="addCart()">
            </div>
        </div>
    </section>
<br>
    <footer>
        <p>&copy; 2024 Music Storefront | All Rights Reserved</p>
    </footer>
</body>
</html>
