<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Storefront - Inventory</title>
    <link rel="stylesheet" href="../assets/css/exstyles.css">
    <link rel="stylesheet" href="../assets/css/itempage.css">
    <script src="../assets/js/cart.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/inventory.html">Inventory</a></li>
                <li><a href="../pages/inventoryused.html">Pre-Owned
                </a></li>
                <li><a href="../pages/reviews.html">Reviews</a></li>
                <li><a href="../pages/demos.html">Demos</a></li>
                <li><a href="../pages/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section id="inventoryused">
        <h1 id="name">Yamaha CK88 Piano</h1>
        <div class="grid">
            <div class="itemcard">
                <img src="../assets/images/yamahakeys.png" alt="Piano1"> 
                <br>
                <figcaption>Hover to enlarge image<figcaption>
            </div>
            <div class="desc">
                <p>An 88 keys stage ready electronic piano. Features built-in speakers, A/D input, 4 zones of MIDI control, Bluetooth input, and battery-power.</p>
               <br>
               <br>
                <h2 id="price">$1,499.99</h2>
                <input type="button" value="Add to Cart" onclick="addCart()">
            </div>
        </div>
    </section>
<br>
    <footer>
        <p>&copy; 2024 Music Storefront | All Rights Reserved</p>
    </footer>
</body>
</html>
